.Breadcrumb{
    margin-bottom: 50px;
    background-color: #F6F5FF;
    height: 250px;
    margin-top: 50px;    
   
   
    .title {
        color: #1A0B5B;
        font-family: 'Josefin-sans sans-serif';
        font-weight: 900;
        font-size: 42px;
        line-height: 42px;
        padding: 30px;
    }
    .breadcrumbItems{
        padding-left: 35px;
        a{
            text-decoration: none;
            color: #000000;
           
        }
        .active{
            color: #FB2E86;
        }
    }
  }

  .productDetails{
    padding: 10px;
    box-shadow: 0px 0px 25px 10px #F6F4FD;
.row{
    .productImages{
        div{
            img{
                padding: 8px;

                margin-left: 15px;
            }
        }
    }
    .productSection{
        .ptag{
            color: #0D134E;
            font-family: 'Josefin-sans sans-serif';
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
        }
        .productsPrice{
            .productPrice1{
                color: #151875;
                margin-right: 15px;
            }
            .productPrice2{
                color: #FB2E86;
                text-decoration:line-through;
            }
        }
        .color{
            font-weight: 600;
            font-size: 20px;
            font-family: 'Josefin-Sans sans-serif';
            color: #151875;
        
        }
        .spantag{
            color: #A9ACC6;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;

        }
        .addtocart{
            color: #151875;
            margin-top: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .productSpanTag{
            color: #151875;
            font-weight: 600;
        }
    }
}
  }

.productInfojsx{
    margin-top: 100px;
    background-color: #F9F8FE;
    margin-right: 0px;
    margin-left: 0px;
    .row{
        .productItems{
            ul{
                display: flex;
                flex-direction: row;
                color: #151875;
                // justify-content: space-between;
                flex-wrap: wrap;
                li{
                    margin-right: 40px;
                    font-weight: 600;
                }
                .firstLi{
                    text-decoration: underline;
                }

            }
        }
        .details{
            h4{
                color: #151875;
                font-family: 'Josefin-sans sans-serif';
            }
            p{
                color: #A9ACC6;
                font-size: 16px;
                font-family: 'Josefin-sans sans-serif';

            }
        }
    }
}


