   .MiniNavbar{ 
    background-color:  #7E33E0;
    color: #F1F1F1;
    height: auto;
    .row{
        padding-top: 7px;
    .left{
        display: flex; 
        flex-wrap: wrap;
        span{
            margin-left: 40px;
        }

    }
    .right{
        ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-left: 25px;
        }
    }
}
   } 
}

@media(max-width:300px){
    .MiniNavbar{
        .row{
            .left{
                flex-direction: column;
            }
            .right{
                ul{
                    flex-direction: column;
                    display: none;
                }
            }
        }
    }
}


@media (min-width: 300px) and (max-width: 500px) {
    .MiniNavbar{
        .row{
            .left{
                flex-direction: column;
            }
            .right{
                ul{
                    flex-direction: column;
                    display: none;
                }
            }
        }
    }
}
 
@media (min-width: 501px) and (max-width: 700px) {
  
}
@media (min-width: 701px) and (max-width: 900px) {
  
}
 
@media (min-width: 901px) and (max-width: 1100px) {
  
}