.Navbar{
    font-weight: 500;
    margin-left:10%;
   

.Links{
        display: flex;
        justify-content: space-between;
        li{
            margin-right: 20px;
            :hover{
                color: #FB2E86;
            }
        }
       
       }
       .iconDiv{
        width: 70px;
        height: 48px;
        background-color: #FB2E86;
        color: white;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -12px;
    
       }
    }

    @media (min-width: 300px) and (max-width: 500px) {
    
    }
     
    @media (min-width: 501px) and (max-width: 700px) {
      
    }
    @media (min-width: 701px) and (max-width: 900px) {
      
    }
     
    @media (min-width: 901px) and (max-width: 1100px) {
      
    }
