.sectionProducts {

    .title {
      text-align: center;
        color: #1A0B5B;
        font-family: 'Josefin-sans sans-serif';
        font-weight: 900;
        font-size: 42px;
        line-height: 42px;
    }
  
    .slickSlider{
      // padding: 40px;
      .sliders{
          padding: 10px;
          .slider{
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
             padding: 10px;
              // text-align: center;
              // background-color: #F6F7FB;

              .introSlider{
                .img{
                    background-color: #F6F7FB;
                    text-align: center;
                    // width: 100%;
                    display: flex;
                    justify-content: center;
                    padding:  40px;

                }
                .card-section{
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                    .name{
                        color: #FB2E86;
                    }
                }
              }
              .card2{
                .card-section{
                    background-color: #2F1AC4;
                    color: white;
                    border-radius: 3px;
                    .name{
                        color: white;
                    }
                }

              }
          }
      }
    }
  }
  
  @media (min-width: 300px) and (max-width: 500px) {
    
  }
   
  @media (min-width: 501px) and (max-width: 700px) {
    
  }
  @media (min-width: 701px) and (max-width: 900px) {
    
  }
   
  @media (min-width: 901px) and (max-width: 1100px) {
    
  }